
/*Criação de um Pseudo elemento, onde ele será um background criados pelo css (ELE NÃO EXISTE VIA HTML)
//Os códigos abaixo irão moldar o background branco adicionado para o desejado */

body::after {
    content:"";
    position:absolute;
    background: white;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 8rem;
    z-index: -1;
}
/*----------------------------------------------------------------------*/

:root{
    --title-color: #322153;
    --primary-color: #34CB79;
}

*{
    margin: 0;
    padding: 0;

    /*Considerar o tamanho da box pela a sua borda*/
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}
body{
    background:#f0f0f5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
h1, h3 , h4 , h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}



